body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    color: #333;
}

.options .button1 {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
}

.options .button1:hover {
    background-color: #45a049;
}

.options .button2 {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: #fff;
}

.options .button2:hover {
    background-color: #2488d0;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.index_button1 {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
}
.index_button1:hover {
    background-color: #45a049;
}

.index_button2 {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: #fff;
}
.index_button2:hover {
    background-color: #2488d0;
}

form input {
    width: 60%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}